
/* RippleDemo.css */

.ripple-demo .card-container .card {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    user-select: none;
    padding: 0;
}

.ripple-demo .card-container .card.primary-box {
    background-color: var(--primary-color);
    padding: 0;
    color: var(--primary-color-text);
}

.ripple-demo .card-container .card.styled-box-green .p-ink {
    background: rgba(75, 175, 80, 0.3);
}

.ripple-demo .card-container .card.styled-box-orange .p-ink {
    background: rgba(255, 193, 6, 0.3);
}

.ripple-demo .card-container .card.styled-box-purple .p-ink {
    background: rgba(156, 39, 176, 0.3);
}

.ripple-demo .card-container .card:last-child {
    margin-right: 0;
}
                 